  
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
 background-image: linear-gradient(
    to top right,
    #2546b4cb 0%,
    #2546b4aa 40%,
    #f8f8f855 70%,
    #50a3752f 100%
);
 
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;
    animation-delay: 0.5s;  
}
  
 .circle:hover {
transform: translateX(15px) scale(1.1);  
transition: all 0.3s ease;             
}


 h1 {
    color: #000000;
    transition: all 0.5s ease; 
}

h1:hover {
     
    color: #040e14; 
           font-size: 40px;
            transition: all 0.5s ease;
}

  
a {
    color: #ffffff;  
    text-decoration: none;  
    transition: all 0.5s ease;
    
}

a:hover {
    color: #e2620d;  
  font-size: larger;
  transition: all 0.5s ease;
}


  
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(51, 49, 49, 0.9);  
    box-shadow: 4 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    color: #000000;
}

th, td {
    border: 1px solid #88a813;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #8b948b;
    color: #000000;
}

 
tr:hover {
    background-color: #14212e;  
    transform: scale(1.01);     
    transition: all 0.3s ease;
  
}

 nav {
    font-family: fantasy;
 }
 @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}
 
input[type="text"],
input[type="number"],
input[type="date"],
select {
    padding: 4px 8px;
    border: 2px  solid #e2620d  ;
    border-radius: 6px;
    outline: none;
    transition: 0.3s ease;
    font-size: 15px;
}
 
input:focus,
select:focus {
    border-color: #4CAF50;  
 border-color: #2196F3;
box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
    transition: 0.3s ease;
}
 


button, 
input[type="submit"] {
    background: #000000;        
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;        
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;      
    font-weight: bold;
}

 
button:hover,
input[type="submit"]:hover {
    background: #45a049;      
    transform: scale(1.07);    
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

 
button:focus,
input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

button {
    position: relative;
    overflow: hidden;
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg);
    transition: 0.5s;
}

button:hover::after {
    left: 120%;
}